.vscode/
.idea/
/log/
docker_prod/zigbee2mqtt/configuration.yaml
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/log/

logs/

.cache/
.local/
.npm/
.yarn/


# Back
__pycache__/
/backend/.pytest_cache
*.db
*.db.backup

# Front
frontend/node_modules/
yarn.lock

#store
orchestrator.json
store/config.yaml